[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/blist"]
	path = themes/blist
	url = https://github.com/apvarun/blist-hugo-theme.git
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
