<div class="head-fixed">
    <div class="wrapper">
        <div class="head-fixed-cont">
            <div class="head-fixed__menu">
                <div class="burger"><span></span></div>
                <span>меню</span>
            </div>
            <div class="head-fixed__contacts">
                <a class="tel phone-link" href="#">+7 (351) 700-9310</a>
                <p>ул. Свободы 2, корп. 5, оф. 7.29</p>
                <ul class="socials">
                    <li id="bx_651765591_14" class="socials__item">
                        <a class="socials__link" onclick="" href="https://vk.com/sova.photo_chel" target="_blank" >
                            <img class="socials__ico" src="/upload/vk.svg" alt="Вконтакте" />
                            <span>Вконтакте</span>
                        </a>
                    </li>
                </ul>
            </div>
            <a class="head-fixed__btn" href="/rent/">Забронировать</a>
        </div>
    </div>
</div>