<footer class="footer">
    <div class="wrapper">
        <div class="footer-cont">
            <div class="footer__menu">
                <ul class="main-nav">
                    <li class="main-nav__item main-nav__item--hassubmenu">
                        <a class="main-nav__link link--rent    main-nav__item--hassubmenu " href="/rent/">
                            Аренда		</a>
                        <div class="submenu">
                            <div class="submenu__list">
                                <div class="submenu__item   link--rent">
                                    <a class="submenu__link" href="/rent/">Аренда</a>
                                </div>
                                <div class="submenu__item   link--events">
                                    <a class="submenu__link" href="/events/">Проведение мероприятий</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="main-nav__item ">
                        <a class="main-nav__link link--pravila   active" href="/rules/">Правила</a>
                    </li>
                    <li class="main-nav__item main-nav__item--hassubmenu">
                        <a class="main-nav__link link--halls    main-nav__item--hassubmenu " href="/halls/">Залы</a>
                        <div class="submenu">
                            <div class="submenu__list">
                                <div class="submenu__item   link--halls_zal-andes">
                                    <a class="submenu__link" href="/halls/zal-andes/">Зал «Андес»</a>
                                </div>
                                <div class="submenu__item   link--halls_zal-misterium">
                                    <a class="submenu__link" href="/halls/zal-misterium/">Зал «Мистериум»</a>
                                </div>
                                <div class="submenu__item   link--halls_zal-simple">
                                    <a class="submenu__link" href="/halls/zal-simple/">Зал «Simple»</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="main-nav__item ">
                        <a class="main-nav__link link--portfolio" href="/portfolio/">Портфолио</a>
                    </li>
                    <li class="main-nav__item ">
                        <a class="main-nav__link link--equipment" href="/equipment/">Оборудование</a>
                    </li>
                    <li class="main-nav__item ">
                        <a class="main-nav__link link--for-photographers" href="/for-photographers/">Фотографам</a>
                    </li>
                    <li class="main-nav__item ">
                        <a class="main-nav__link link--contacts" href="/contacts/">Контакты</a>
                    </li>
                    <li class="main-nav__item ">
                        <a class="main-nav__link link--kak-oplatit" href="/kak-oplatit/">Как оплатить</a>
                    </li>
                </ul>
            </div>
            <div class="footer__logo"><a class="logo" href="/"><img src="/upload/logo.svg"/></a></div>
            <div class="footer__text">
                <div class="copyright">© Фотостудия Фотосова 2021</div>
                <a target="_blank" href="/upload/policy.pdf">Политика конфиденциальности</a>
                <div class="oferta">
                    <a href="/upload/oferta.pdf" target="_blank">Оферта</a>
                </div>
            </div>
        </div>
    </div>
</footer>