<header class="main-header">
    <div class="wrapper">
        <div class="main-header-cont">
            <div class="main-header__soc">
                <ul class="socials">
                    <li id="bx_1373509569_14" class="socials__item">
                        <a class="socials__link" onclick="ym(74006554,'reachGoal','vk-head');" href="https://vk.com/sova.photo_chel" target="_blank" >
                            <img class="socials__ico" src="/upload/vk.svg" alt="Вконтакте" />
                            <span>Вконтакте</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-header__logo">
                <a class="logo" href="/"><img src="/upload/logo.svg"/></a>
            </div>
            <div class="main-header__contacts">
                <a class="main-header__tel phone-link" onclick="ym(74006554,'reachGoal','phone-head')"
                   href="#">+7 (351) 700-9310</a>
                <p>ул. Свободы 2, корп. 5, оф. 7.29</p>
            </div>
            <div class="burger"><span></span></div>
        </div>
    </div>
</header>