<div class="mobile-menu-cont">
    <div class="mobile-menu">
        <div class="mobile-menu__top">
            <div class="burger"><span></span></div>
            <div class="burger-text">Закрыть меню</div>
        </div>
        <ul class="main-nav">
            <li class="main-nav__item ">
                <a class="main-nav__link link--rent" href="/rent/">Аренда</a>
            </li>
            <li class="main-nav__item ">
                <a class="main-nav__link link--pravila" href="/rules/">Правила</a>
            </li>
            <li class="main-nav__item ">
                <a class="main-nav__link link--halls" href="/halls/">Залы</a>
            </li>
            <li class="main-nav__item ">
                <a class="main-nav__link link--portfolio active" href="/portfolio/">Портфолио</a>
            </li>
            <li class="main-nav__item ">
                <a class="main-nav__link link--equipment" href="/equipment/">Оборудование</a>
            </li>
            <li class="main-nav__item ">
                <a class="main-nav__link link--media" href="/media/">Медиа</a>
            </li>
            <li class="main-nav__item ">
                <a class="main-nav__link link--contacts" href="/contacts/">Контакты</a>
            </li>
            <li class="main-nav__item ">
                <a class="main-nav__link link--certificates" href="/certificates/">Сертификаты</a>
            </li>
        </ul>
        <div class="mobile-menu__contacts">
            <a class="tel phone-link" href="#">+7 (351) 700-9310</a>
            <p>ул. Свободы 2, корп. 5, оф. 7.29</p>
        </div>
        <ul class="socials">
            <li id="bx_3218110189_14" class="socials__item">
                <a class="socials__link" onclick="" href="https://vk.com/sova.photo_chel" target="_blank" >
                    <img class="socials__ico" src="/upload/vk.svg" alt="Вконтакте" />
                    <span>Вконтакте</span>
                </a>
            </li>
        </ul>
        <div class="mobile-menu__copy">© Фотостудия Фотосова 2021</div>
        <a class="mobile-menu__politic" href="/upload/policy.pdf">Политика конфиденциальности</a>
    </div>
</div>