<div class="title-block">
    <div class="title-block__br">
        <div class="wrapper">
            <div class="title-block__crumbs">
                <ul class="bread-crumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li class="bread-crumbs__link" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem" >
                        <a class="bread-crumbs__link" title="Фотостудия Фотосова" itemscope="" itemtype="http://schema.org/Thing" itemprop="item"href="/"><span itemprop="title">Фотостудия Фотосова</span></a>
                    </li>
                    <li class="bread-crumbs__link" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem" >
                        <a class="bread-crumbs__link" title="П{{ .Title }}" itemscope="" itemtype="http://schema.org/Thing" itemprop="item"><span itemprop="title">{{ .Title }}</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="title-block__title">
            <div class="title-block--title">{{ .Title }}</div>
        </div>
    </div>
</div>

