{{ if isset .Params "equipment" }}

<div class="title-block">
    <div class="title-block__br">
        <div class="wrapper">
            <div class="title-block__crumbs"><ul class="bread-crumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList"><li class="bread-crumbs__link" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem" ><a class="bread-crumbs__link" title="Фотостудия Фотосова" itemscope="" itemtype="http://schema.org/Thing" itemprop="item"href="/"><span itemprop="title">Фотостудия Фотосова</span></a></li><li class="bread-crumbs__link" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem" ><a class="bread-crumbs__link" title="Оборудование" itemscope="" itemtype="http://schema.org/Thing" itemprop="item"><span itemprop="title">Оборудование</span></a></li></ul></div>            </div>
    </div>
    <div class="wrapper">
        <div class="title-block__title">
            <div class="title-block--title">Оборудование</div>
        </div>
        <div class="title-block__text">
            <div class="tb-text tb-text--2">
                <div>
                    <i> </i>
                </div>
                <div style="text-align: justify;">
                    <h1>Аренда оборудования для фото/видеосъемок </h1>
                    <br>
                </div>
                <p style="text-align: justify;">
                </p>
                <div style="text-align: justify;">
                    <i>Мечтаете о качественных фотоснимках и видео, но испытываете недостаток в профессиональной технике для съемки? Прокат фототехники и аренда студийного оборудования пространства «ФотоСова» решат вашу проблему! Смело осуществляйте свои творческие мечты!</i> &nbsp;
                </div>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                    В наших залах имеется профессиональное оборудование, которое предоставляется бесплатно при аренде помещения. Также вы можете взять напрокат фотокамеры, объективы и прочие девайсы – за дополнительную сумму. При платной аренде фотооборудования для фотосъемки требуется предварительное согласование с администратором и 100%-ная предоплата с внесением залога.
                </p>
                <p style="text-align: justify;">
                </p>
                <h3 style="text-align: justify;"></h3>
                <p style="text-align: justify;">
                </p>
                <h3 style="text-align: justify;"><b><u>Что предоставляется бесплатно в наших залах</u></b></h3>
                <p style="text-align: justify;">
                </p>
                <h4 style="text-align: justify;"><b>&nbsp;</b><br>
                    <b>
                        Profoto D2 AirTTL</b></h4>
                <p style="text-align: justify;">
                </p>
                <h3 style="text-align: justify;"></h3>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                    Наличие: Мистериум - х2
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                    Моноблок шведского производства с коротким световым импульсом (длительность t 0.5 сек.: обычный режим: 1/2,600с (500Дж) - 1/17,000с (1Дж); Freeze Mode: 1/2,600с (500Дж) - 1/63,000с (1Дж)). Прокат студийного света Profoto пользуется большим спросом, так как этот бренд производит надежное и простое в применении оборудование, которое подходит и фотографам-новичкам, и истинным профессионалам. &nbsp;&nbsp;Помимо высокой скорости импульса данная вспышка имеет и другие достоинства. Имеется поддержка AirTTL и высокоскоростная синхронизация (HSS). Пилотная лампа – 300Вт галоген (3200K). Цветовая температура: 5600K.
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <h4 style="text-align: justify;"><b>Air Remote TTL (Canon, Sony, Nikon)</b></h4>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                    Наличие: Мистериум - х3&nbsp;&nbsp;&nbsp;
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                    Съемочная техника в почасовую аренду на безвозмездной основе также включает два синхронизатора AirTTL, поддерживающих функцию High-Speed Sync (HSS). Данная характеристика позволяет использовать вспышку с выдержками до 1/8000&nbsp;с. Таким образом, этот синхронизатор помогает управлять моноблоками и получать четкие снимки при ярком солнце без размытия в движении со вспышкой и имеющимся световым студийным оборудованием для фотосъемки.
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <h4 style="text-align: justify;"><b>Журавль Avenger D600</b></h4>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                    Наличие: Мистериум - отсутствует
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                    Телескопическая стойка-перекладина для осветительных приборов. Имеет высоту от 117 до 212&nbsp;см. Оснащена качественным противовесом из стали. Журавль имеет крепление 5/8” (16&nbsp;мм) и крюк для дополнительного противовеса (max нагрузка – 7 кг). Это весьма устойчивая и надежная конструкция.
                </p>
                <p style="text-align: justify;">
                    <br>
                </p>
                <ul type="disc" style="text-align: justify;">
                    <li>Видеооборудование в аренду для видеосъемки мастер-классов и дополнительное фотооборудование бронируются только по индивидуальной договоренности с администратором.</li>
                    <li>Всё платное оборудование предоставляется только на условиях предварительного заказа со 100%-ной предоплатой.</li>
                </ul>
                <p>
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                    Полный список имеющихся в наличии световых приборов, камер, штативов, рефлекторов и софт-боксов – по запросу. Узнайте о возможности их бронирования прямо сейчас!
                </p>
                <p style="text-align: justify;">
                    <br>
                    <i> </i>
                </p>
                <p style="text-align: justify;">
                    <i> </i>
                </p>
                <p style="text-align: justify;">
                    <i> </i>
                </p>
                <div style="text-align: justify;">
                    <i> </i><b><i>Прокат и аренда съемочного оборудования в Челябинске от «ФотоСова» – это всё, что вам нужно для потрясающих кадров!</i></b>
                </div>
                <div>
                    <b> </b>
                </div>
                <h3> </h3>	</div>
            <div class="more-text">Подробнее</div>
        </div>
    </div>
</div>

{{ else }}
<div class="title-block">
    <div class="title-block__br">
        <div class="wrapper">
            <div class="title-block__crumbs">
                <ul class="bread-crumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li class="bread-crumbs__link" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem" >
                        <a class="bread-crumbs__link" title="Фотостудия Фотосова" itemscope="" itemtype="http://schema.org/Thing" itemprop="item"href="/"><span itemprop="title">Фотостудия Фотосова</span></a>
                    </li>
                    <li class="bread-crumbs__link" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem" >
                        <a class="bread-crumbs__link" title="П{{ .Title }}" itemscope="" itemtype="http://schema.org/Thing" itemprop="item"><span itemprop="title">{{ .Title }}</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="title-block__title">
            <div class="title-block--title">{{ .Title }}</div>
        </div>
    </div>
</div>
{{ end }}

