{{ with resources.GetRemote "http://localhost:1337/api/halls?populate=*" }}
{{ $halls := unmarshal .Content }}
{{ range $halls.data }}
    {{ $string := jsonify . }}
    {{ $filename := printf "halls/%s.md" (urlize .attributes.name) }}
    {{ $resource := resources.FromString $filename $string }}
    {{ $file := $resource.RelPermalink }}
{{ end }}
{{ end }}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Фотостудия интерьерная для фото-видео съемок в Челябинске - ФотоСова</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"/>
    <link rel="shortcut icon" href="/upload/favicon.ico" type="image/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Интерьерная фотостудия ФотоСова – это 2 уникальных зала с большими окнами, оригинальными декорациями, профессиональным оборудованием Profoto, гармоничной атмосферой и приятной музыкой." />
    <link rel="stylesheet" type="text/css" data-template-style="true" href="/main.css?1662536043198827" >
    <link rel="stylesheet" type="text/css" data-template-style="true" href="/dev.css?1612258033143" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"/>
    <style>
        .grecaptcha-badge {
            display: none;
        }

        [v-cloak] {
            display: none
        }
    </style>
    <noscript><div><img src="https://mc.yandex.ru/watch/74006554" style="position:absolute; left:-9999px;" alt="" /></div></noscript></head>
<body class="main page- loading">

{{ block "mobile-menu" .}}{{partialCached "site-mobile-menu.html" .}}{{end}}
{{ block "head-fixed" . }}{{ partialCached "site-head-fixed.html" .}}{{end}}

<div class="top-block">
    {{ partial "site-main-header.html" .}}
    <div class="top-block__text">
        <div class="wrapper">
            <noindex>
                <div class="h1">
                    Ждем вас в нашей фотостудии
                </div>
            </noindex>
        </div>
    </div>
    <div class="top-block__slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div id="bx_3485106786_17" class="swiper-slide">
                    <img src="/upload/bg/bg1.jpg" />
                </div>
                <div id="bx_3485106786_16" class="swiper-slide">
                    <img class="swiper-lazy" data-src="/upload/bg/bg2.jpg" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div id="bx_3485106786_15" class="swiper-slide">
                    <img class="swiper-lazy" data-src="/upload/bg/bg3.jpg" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div id="bx_3485106786_133" class="swiper-slide">
                    <img class="swiper-lazy" data-src="/upload/bg/bg4.jpg" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div id="bx_3485106786_18" class="swiper-slide">
                    <img class="swiper-lazy" data-src="/upload/bg/bg5.jpg" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<main id="content">
    <div class="top-block__menu">
        <div class="wrapper">
            <div class="top-block__menu-cont">
                <ul class="main-nav">
                    <li class="main-nav__item main-nav__item--hassubmenu">
                        <a class="main-nav__link link--rent    main-nav__item--hassubmenu " href="/rent/">
                            Аренда		</a>
                        <div class="submenu">
                            <div class="submenu__list">
                                <div class="submenu__item   link--rent">
                                    <a class="submenu__link" href="/rent/">Аренда</a>
                                </div>
                                <div class="submenu__item   link--events">
                                    <a class="submenu__link" href="/events/">Проведение мероприятий</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="main-nav__item ">
                        <a class="main-nav__link link--pravila" href="/rules/">Правила</a>
                    </li>
                    <li class="main-nav__item main-nav__item--hassubmenu">
                        <a class="main-nav__link link--halls    main-nav__item--hassubmenu" href="/halls/">Залы</a>
                        <div class="submenu">
                            <div class="submenu__list">
                                <div class="submenu__item   link--halls_zal-andes">
                                    <a class="submenu__link" href="/halls/zal-andes/">Зал «Андес»</a>
                                </div>
                                <div class="submenu__item   link--halls_zal-misterium">
                                    <a class="submenu__link" href="/halls/zal-misterium/">Зал «Мистериум»</a>
                                </div>
                                <div class="submenu__item   link--halls_zal-simple-light">
                                    <a class="submenu__link" href="/halls/zal-simple-light/">Зал «Simple Light»</a>
                                </div>
                                <div class="submenu__item   link--halls_zal-simple">
                                    <a class="submenu__link" href="/halls/zal-simple/">Зал «Simple»</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="main-nav__item ">
                        <a class="main-nav__link link--equipment" href="/equipment/">Оборудование</a>
                    </li>
                    <li class="main-nav__item ">
                        <a class="main-nav__link link--portfolio" href="/portfolio/">Портфолио</a>
                    </li>
                    <li class="main-nav__item ">
                        <a class="main-nav__link link--media" href="/media/">Медиа</a>
                    </li>
                    <li class="main-nav__item ">
                        <a class="main-nav__link link--contacts" href="/contacts/">Контакты</a>
                    </li>
                    <li class="main-nav__item ">
                        <a class="main-nav__link link--certificates" href="/certificates/">Сертификаты</a>
                    </li>
                </ul>
                <a class="top-block__menu-btn" href="/rent/">Забронировать</a>
            </div>
        </div>
    </div>
    <div class="page-section halls-block">
        <div class="wrapper">
            <div class="page-section__top">
                <div class="block-title">Наши залы
                </div>
            </div>
            <div class="halls__list">
                <div id="bx_3099439860_3" class="halls__item">
                    <a class="halls-card" href="/halls/zal-andes/">
                        <div class="halls-card__img">
                            <img src="/upload/resize_cache/iblock/d19/803_608_2/n3x5dw0luufxwwm3gjqandh856nf6vnh.jpg" loading="lazy"/>
                        </div>
                        <div class="halls-card__info">
                            <div class="halls-card__title">Зал «Андес»</div>
                            <div class="halls-card__price">от&nbsp;2 000 руб./&nbsp;час</div>
                        </div>
                    </a>
                </div>
                <div id="bx_3099439860_2" class="halls__item">
                    <a class="halls-card" href="/halls/zal-misterium/">
                        <div class="halls-card__img">
                            <img src="/upload/iblock/7e0/7e027c63551a7592d837813a6e3d213c.jpg" loading="lazy"/>
                        </div>
                        <div class="halls-card__info">
                            <div class="halls-card__title">Зал «Мистериум»</div>
                            <div class="halls-card__price">от&nbsp;2 000 руб./&nbsp;час</div>
                        </div>
                    </a>
                </div>
                <div id="bx_3099439860_352" class="halls__item">
                    <a class="halls-card" href="/halls/zal-simple-light/">
                        <div class="halls-card__img">
                            <img src="/upload/resize_cache/iblock/51d/803_608_2/zuhbcps86ibw22lpzbzi7hwsgbd8alrs.jpg" loading="lazy"/>
                        </div>
                        <div class="halls-card__info">
                            <div class="halls-card__title">Зал «Simple Light»</div>
                            <div class="halls-card__price">от&nbsp;2 500 руб./&nbsp;час</div>
                        </div>
                    </a>
                </div>
                <div id="bx_3099439860_159" class="halls__item">
                    <a class="halls-card" href="/halls/zal-simple/">
                        <div class="halls-card__img">
                            <img src="/upload/resize_cache/iblock/366/803_608_2/2qg1zihps458pki51ke7zxt5tvpowtxg.jpg" loading="lazy"/>
                        </div>
                        <div class="halls-card__info">
                            <div class="halls-card__title">Зал «Simple»</div>
                            <div class="halls-card__price">от&nbsp;1 500 руб./&nbsp;час</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section portfolio-block">
        <div class="wrapper">
            <div class="page-section__top">
                <div class="block-title">Примеры и портфолио
                </div>
                <a class="more-link" href="/portfolio/">Смотреть больше фото</a>
            </div>
            <div class="pb__list">
                <div id="bx_565502798_358" class="pb__item">
                    <a class="pb-card" href="/portfolio/interior/zal-simple-light/">
                        <div class="pb-card__img">
                            <img src="/upload/resize_cache/iblock/51d/515_515_1/zuhbcps86ibw22lpzbzi7hwsgbd8alrs.jpg" loading="lazy"/>
                        </div>
                        <div class="pb-card__info">
                            <div class="pb-card__tag">@sovafoto</div>
                            <div class="pb-card__text">ЗАЛ «SIMPLE LIGHT»</div>
                        </div>
                    </a>
                </div>
                <div id="bx_565502798_195" class="pb__item">
                    <a class="pb-card" href="/portfolio/interior/zal-simple-novogodniy-interer/">
                        <div class="pb-card__img">
                            <img src="/upload/resize_cache/iblock/366/515_515_1/2qg1zihps458pki51ke7zxt5tvpowtxg.jpg" loading="lazy"/>
                        </div>
                        <div class="pb-card__info">
                            <div class="pb-card__tag">@sovafoto</div>
                            <div class="pb-card__text">Зал «Simple» новогодний интерьер</div>
                        </div>
                    </a>
                </div>
                <div id="bx_565502798_153" class="pb__item">
                    <a class="pb-card" href="/portfolio/interior/zal-misterium-novogodniy-interer/">
                        <div class="pb-card__img">
                            <img src="/upload/resize_cache/iblock/459/515_515_1/5659rxw3tu90r5obppz5gv99ia30i7nl.JPG" loading="lazy"/>
                        </div>
                        <div class="pb-card__info">
                            <div class="pb-card__tag">@sovafoto</div>
                            <div class="pb-card__text">Зал «Мистериум» новогодний интерьер</div>
                        </div>
                    </a>
                </div>
                <div id="bx_565502798_140" class="pb__item">
                    <a class="pb-card" href="/portfolio/interior/zal-misterium2/">
                        <div class="pb-card__img">
                            <img src="/upload/resize_cache/iblock/bca/515_515_1/pvt5uxqp1g1jnporl37v4iuo5lqtrjgi.jpg" loading="lazy"/>
                        </div>
                        <div class="pb-card__info">
                            <div class="pb-card__tag">@sovafoto</div>
                            <div class="pb-card__text">Зал «Мистериум»</div>
                        </div>
                    </a>
                </div>
                <div id="bx_565502798_139" class="pb__item">
                    <a class="pb-card" href="/portfolio/fashion/zal-misterium3/">
                        <div class="pb-card__img">
                            <img src="/upload/resize_cache/iblock/8e5/515_515_1/1a6n03heel431uf2l8eis1dccoygl8g7.jpg" loading="lazy"/>
                        </div>
                        <div class="pb-card__info">
                            <div class="pb-card__tag">@sovafoto</div>
                            <div class="pb-card__text">Фешн съемка</div>
                        </div>
                    </a>
                </div>
                <div id="bx_565502798_138" class="pb__item">
                    <a class="pb-card" href="/portfolio/family/love-story/">
                        <div class="pb-card__img">
                            <img src="/upload/resize_cache/iblock/049/515_515_1/cwu8ensytrpjii3gxlqgz30yuar73hf4.jpg" loading="lazy"/>
                        </div>
                        <div class="pb-card__info">
                            <div class="pb-card__tag">@sovafoto</div>
                            <div class="pb-card__text">Love Story</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section equipment-block">
        <div class="wrapper">
            <div class="page-section__top">
                <div class="block-title">Техническое оснащение
                </div>
                <a class="more-link" href="/equipment/">Смотреть всё оборудование</a>
            </div>
            <div class="equipment__list">
                <div id="bx_1454625752_42" class="equipment__item">
                    <a class="equipment-card" href="equipment/" >
                        <div class="equipment-card__img">
                            <img src="/upload/resize_cache/iblock/847/300_300_1/8477281175bd4368418c75475e4b38f5.jpg" loading="lazy"/>
                        </div>
                        <div class="equipment-card__info">
                            <div class="equipment-card__title">Profoto D2 1000 AirTTL</div>
                            <div class="arenda-card__text">Доступно в зале «Андес», «Мистериум»</div>
                        </div>
                    </a>
                </div>
                <div id="bx_1454625752_141" class="equipment__item">
                    <a class="equipment-card" href="equipment/" >
                        <div class="equipment-card__img">
                            <img src="/upload/resize_cache/iblock/1c9/300_300_1/w2j41tr8e0cp9lnr0vv7o8500mi8jgj9.jpeg" loading="lazy"/>
                        </div>
                        <div class="equipment-card__info">
                            <div class="equipment-card__title">Godox SZ150R</div>
                            <div class="arenda-card__text">Доступно в зале «Андес», «Мистериум»</div>
                        </div>
                    </a>
                </div>
                <div id="bx_1454625752_142" class="equipment__item">
                    <a class="equipment-card" href="equipment/" >
                        <div class="equipment-card__img">
                            <img src="/upload/resize_cache/iblock/5a4/300_300_1/47o6jtu7zc618u0xqmmtay1twjzo613j.jpg" loading="lazy"/>
                        </div>
                        <div class="equipment-card__info">
                            <div class="equipment-card__title">PavoTube II 6C</div>
                            <div class="arenda-card__text">Доступно в зале «Андес»</div>
                        </div>
                    </a>
                </div>
                <div id="bx_1454625752_49" class="equipment__item">
                    <a class="equipment-card" href="equipment/" >
                        <div class="equipment-card__img">
                            <img src="/upload/resize_cache/iblock/b67/300_300_1/b6769fbdc1a5cabcf9caf47a31e34eea.jpg" loading="lazy"/>
                        </div>
                        <div class="equipment-card__info">
                            <div class="equipment-card__title">Софтбокс Profoto RFi 90х90 см</div>
                            <div class="arenda-card__text">Доступно в зале «Андес», «Мистериум»</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section services-block">
        <div class="services-block__bg">
            <picture>
                <source media="(min-width: 660px)" srcset="/upload/offer-bg.jpg" loading="lazy">
                <source media="(max-width: 660px)" srcset="/upload/offer-bg--mobile.jpg" loading="lazy">
                <img/>
            </picture>
        </div>
        <div class="services__arrow">
            <div class="services__arrow-el services__arrow-el--prev"></div>
            <div class="services__arrow-el services__arrow-el--next"></div>
        </div>
        <div class="services__list">
            <div class="wrapper">
                <div class="swiper-list">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <a class="services__item link--   " href="/rent/">
                                <div class="services__title">Аренда зала</div>
                                <div class="btn">подробнее</div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="services__item link--   " href="/events/">
                                <div class="services__title">Проведение мероприятий</div>
                                <div class="btn">подробнее</div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="services__item link--   " href="/halls/">
                                <div class="services__title">Залы</div>
                                <div class="btn">подробнее</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="page-section contacts-block">
        <div class="wrapper">
            <div class="contacts-main">
                <div class="cm__text">
                    <div class="cm__item">
                        <div class="block-title">Наши<br> контакты
                        </div>
                        <a class="call-order" onclick="ym(74006554,'reachGoal','phone-footer')" href="tel:+7 (351) 700-9310">
                            <span class="tel">+7 (351) 700-9310</span>
                        </a>
                        <p>ул. Свободы 2, корп. 5, оф. 7.29</p>
                    </div>
                    <div class="cm__item">
                        <div class="block-title">Мы в социальных<br> сетях
                        </div>
                        <div class="cm__soc">
                            <ul class="socials">
                                <li id="bx_3322728009_14" class="socials__item">
                                    <a class="socials__link" onclick="ym(74006554,'reachGoal','vk-footer')" href="https://vk.com/sova.photo_chel" target="_blank" >
                                        <img class="socials__ico" src="/upload/vk_dark.svg" alt="Вконтакте" />
                                        <span>Вконтакте</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="contacts__img">
                    <img src="/upload/contacts.jpg" loading="lazy"/>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section seo-block">
        <div class="wrapper">
            <div class="block-title"><h1>
                Интерьерная фотостудия ФотоСова
            </h1></div>
            <div class="seo-text">
                <p>
                </p>
                <p style="text-align: justify;">
                </p>
                <p>
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                    Мы приглашаем Вас в изысканное пространство для фотосессий, видеосъемок, творческих встреч и воркшопов!
                </p>
                <p style="text-align: justify;">
                    <br>
                    Интерьерная фотостудия ФотоСова – это 2 уникальных зала с большими окнами, оригинальными декорациями, профессиональным оборудованием Profoto, гармоничной атмосферой и приятной музыкой.<br>
                    <br>
                    Мы находимся в эпицентре творчества, всего в 7-ми минутах пешком от ост.&nbsp;Нагорная. Это идеальное место для съемки, расположенное на берегу реки в историческом центре Челябинска.
                </p>
                <p>
                    <br>
                </p>
                <p style="text-align: left;">
                    <br>
                </p>
                <p style="text-align: left;">
                </p>
                <p style="text-align: left;">
                </p>
                <p style="text-align: left;">
                </p>
                <p style="text-align: left;">
                </p>			<details>
                <summary></summary>
                <h3 style="text-align: justify;"></h3>
                <h3 style="text-align: justify;">Аренда фотостудии: наши возможности</h3>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <ul type="disc" style="text-align: justify;">
                    <li>Общая площадь 340&nbsp;м² включает 2 светлых фотозала, гримерные комнаты и комфортную зону ожидания.</li>
                    <li>Потолки 3-7&nbsp;м. </li>
                    <li>Основной и антресольный этажи с живописными лестницами между ними. </li>
                    <li>Большие панорамные окна 4,3&nbsp;х&nbsp;4,3&nbsp;метра.</li>
                    <li>Подиум 5&nbsp;х&nbsp;5&nbsp;метров.</li>
                    <li>Оборудование Profoto.</li>
                    <li>Цветные бумажные и тканевые фоны.</li>
                    <li>Гримёрки за умеренную арендную плату.</li>
                    <li>Услуги фотосессий со штатными фотографами.</li>
                    <li>Услуги визажиста (от 1000 рублей).</li>
                    <li>Аренда фотоаппаратуры и дополнительной техники на территории фотостудии.</li>
                    <li>Оплата наличными, картами VISA и MasterCard.</li>
                    <li>Музыка по вашему вкусу.</li>
                    <li>Вода, чай, снеки в зоне ожидания.</li>
                    <li>Бесплатный Wi-Fi. </li>
                    <li>Бесплатная городская парковка возле здания.</li>
                    <li>Вы можете снять студию для фотосессии в Челябинске на любое время по предварительной записи, включая выходные и праздничные дни.</li>
                </ul>
                <p>
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                    <br>
                    Наши залы подходят для портретной, свадебной, семейной, детской фотосессии, предметной фотографии и фешн съемки. В одном зале могут присутствовать до 8 человек, включая фотографа (без смены людей в течение 1 часа). Большее количество участников оговаривается индивидуально.
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                    <br>
                    Профессиональная фотостудия ФотоСова также подходит для проведения мероприятий: таких как творческие встречи, мастер-классы, презентации, вебинары, воркшопы и т.д. Для этой цели у нас имеются складные стулья, проектор и ноутбук. Для мероприятий стандартный пакет аренды предусматривает не более 12 участников – большее число гостей возможно только по предварительной договоренности. <br>
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                    <br>
                </p>
                <p style="text-align: justify;">
                </p>
                <h3 style="text-align: justify;">ФотоСова – лучшая студия для фотосессии в Челябинске и вот почему</h3>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <ul style="text-align: justify;">
                    <li>
                        Прежде, чем открыть собственную студию, мы детально изучили все предложения конкурентов и затем создали роскошные и респектабельные эксклюзивные интерьеры, которых до нас в Челябинске не делал никто! Ваши фотографии будут самыми уникальными и атмосферными! </li>
                    <li>
                        Многие декорации мобильны, также есть сменные фоны – бумажные и тканевые. Арендовав зал, вы можете фотографировать в любых его фотозонах или в считанные минуты создать собственную композицию. </li>
                    <li>
                        Фотосессия в студии с интерьером всегда предпочтительнее, нежели домашняя или уличная съемка. В нашей фотостудии для вас уже настроен профессиональный свет, созданы эффектные и фактурные декорации, закуплен дорогостоящий реквизит, продумана каждая деталь и мелочь. Вы не зависите от погодных условий, не тратите время и силы на организацию фотогеничного пространства. Вы просто приходите в удобное время и получаете удовольствие от происходящего! А затем получаете шикарные снимки, которые не стыдно показать всем. </li>
                </ul>
                <p>
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                    <br>
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <p style="text-align: justify;">
                </p>
                <h5 style="text-align: justify;">Аренда фотостудии для съемок: проверьте свободные даты и успейте забронировать лучшее время прямо сейчас!</h5>
                <h5 style="text-align: left;"></h5>
                <p style="text-align: left;">
                </p>
                <p>
                </p>			</details>
            </div>
        </div>
    </div>
</main>
{{ block "footer" . }}{{ partialCached "site-footer.html" . }}{{ end }}
<div class="popup" id="feedback-popup">
    <div class="popup__title">
        Задать вопрос
    </div>
    <div class="popup__cont">
        <div id="add_element_form__7_container" class="form">
            <form id="add_element_form__7" name="iblock_add" role="form" action="/" method="post" enctype="multipart/form-data" class="" >
                <input type="hidden" name="form_id" value="add_element_form__7">
                <input type="hidden" name="PROPERTY[NAME][0]" value="Элемент" >
                <input type="hidden" name="sessid" id="sessid" value="62d261443e5cbb1d298d38d7193dac2a" />
                <div class="form__inputs">
                    <div class="form__inputs-input form-item--S  required  ">
                        <div class="default-input">
                            <input type="text" name="PROPERTY[13][0]"  value=""  class="default-input__input default-input__input--text  required  "
                                   placeholder="Имя*"
                                   required=""                                                         >
                            <!-- <label for="property-13" class="default-input__label">Имя</label> -->
                            <div class="default-input__error">
                                <div class="error-text"><!-- текст ошибки --></div>
                            </div>
                        </div>
                    </div>
                    <div class="form__inputs-input form-item--PHONE  required  ">
                        <div class="default-input">
                            <input name="PROPERTY[14][0]" placeholder="Телефон*" type="tel" class="default-input__input mask--phone  required  "  required=""  />
                            <!-- <label for="property-14" class="default-input__label">Телефон</label> -->
                            <div class="default-input__error">
                                <div class="error-text"><!-- текст ошибки --></div>
                            </div>
                        </div>
                    </div>
                    <div class="form__inputs-input form-item--EMAIL  required  ">
                        <div class="default-input">
                            <input name="PROPERTY[15][0]" placeholder="E-mail*" type="email" class="default-input__input   required  "  required=""  />
                            <!-- <label for="property-15" class="default-input__label">E-mail</label> -->
                            <div class="default-input__error">
                                <div class="error-text"><!-- текст ошибки --></div>
                            </div>
                        </div>
                    </div>
                    <div class="form__inputs-input form-item--T  required  ">
                        <div class="default-input">
                            <textarea name="PROPERTY[16][0]" maxlength="200" placeholder="Комментарий*" id="" class="default-input__input default-input__input--textarea   required  "  required=""  placeholder="" ></textarea>
                            <!-- <label for="property-16" class="default-input__label">Комментарий</label> -->
                            <div class="default-input__error">
                                <div class="error-text"><!-- текст ошибки --></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form__submit">
                    <div class="form__submit-btn">
                        <input type="submit" name="iblock_submit" onclick="return checkForms('add_element_form__7');" value="Отправить" class="btn btn--bg
                g-recaptcha" />
                        <input type="hidden" name="recaptcha_token" data-action-id="iblock_add_7" value="" />
                    </div>
                    <div class="form__submit-text">Нажимая на кнопку, Вы даете Согласие <a href="/upload/iblock/811/811355f32659fd72858d03b193c81098.pdf">на обработку персональных данных</a></div>
                </div>
            </form>
        </div>
    </div>
    <div class="booking-modal" id="booking-modal">
        <div class="booking-modal__wrapper">
            <div class="booking-modal__title">
                Бронирование с помощью администратора
            </div>
            <div class="booking-modal__text">
                В текущий момент, забронировать данный зал возможно только с помощью администратора. Свяжитесь с администратором по телефону, либо через социальные сети.
            </div>
            <div class="booking-modal__row">
                <div class="booking-modal__phone">
                    <div class="booking-modal__phone-label">Телефон</div>
                    <a class="booking-modal__phone-tel" target="_blank" href="tel:73517009310">+ 7 (351) 700-9310</a>
                </div>
                <div class="booking-modal__socials">
                    <a class="booking-modal__socials-item" href="https://vk.com/sova.photo_chel">вконтакте</a></div>
            </div>
            <button class="btn btn--bg booking-modal__btn" data-fancybox-close="data-fancybox-close">Понятно</button>
        </div>
        <button class="booking-modal__close" data-fancybox-close="data-fancybox-close">
            <div class="booking-modal__close-img"></div>
        </button>
    </div>
</div>
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render=6LdXrPQZAAAAAPuY2t6S4HbpXbKISGwboWTQSLxP"></script>

{{ block "site-scripts" .}}
    {{ partialCached "site-scripts.html" .}}
{{end}}

<script type="text/javascript">
    var _ba = _ba || []; _ba.push(["aid", "db8a867bd06dc425373ac6a1e7c7f62f"]); _ba.push(["host", "sova.photo"]); (function() {var ba = document.createElement("script"); ba.type = "text/javascript"; ba.async = true;ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ba, s);})();
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        window.recaptchaSiteKey = '6LdXrPQZAAAAAPuY2t6S4HbpXbKISGwboWTQSLxP';
        if (window.recaptchaSiteKey) {
            grecaptcha.ready(() => {
                freshcapcha();
                setInterval(freshcapcha, 60000);
            });
        }
    });
    function freshcapcha() {
        grecaptcha.execute(window.recaptchaSiteKey, {action: 'booking'}).then(function (token) {
            let recaptchaResponses = document.querySelectorAll("[name='recaptcha_token']");
            window.recaptchaToken = token;
            if (recaptchaResponses) {
                recaptchaResponses.forEach((response) => {
                    response.value = token;
                })
            }
        });
    };
</script>
<script async src='https://www.googletagmanager.com/gtag/js?id=G-47KW6WWYX6'></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag()
    {
        dataLayer.push( arguments );
    }
    gtag( 'js', new Date() );
    gtag( 'config', 'G-47KW6WWYX6' );
</script>
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(74006554, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
</body>
</html>
